.App {
  text-align: center;
}


.listContainer{
  display: flex;
  flex-wrap: wrap;
}

.listItem{
  margin: 5px;
  border: 1px solid black;
  min-width: 200px;
  min-height: 200px;
  box-sizing: border-box;
}

.title{
  font-size: 30px;
  font-weight: 600;
}
